.nav-container {
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 1rem;
   background-color: #000;
   width: 100%;
}

.link {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}